In [1]:
import pandas as pd
import  numpy as np

In [2]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
x = df.drop('Outcome', axis = 'columns')
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [8]:
y = df.Outcome

In [10]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
x_scale = st.fit_transform(x)
x_scale[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x_scale, y, stratify = y, random_state = 20, test_size = 0.2)

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [14]:
score = cross_val_score(DecisionTreeClassifier(), x, y)
score.mean()

0.7175536881419233

In [19]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    bootstrap = True,
    oob_score = True,
    random_state = 3
)
bag_model.fit(x_train, y_train)
bag_model.oob_score_

0.752442996742671

In [20]:
bag_model.score(x_test, y_test)

0.7792207792207793

In [22]:
bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    bootstrap = True,
    oob_score = True,
    random_state = 3
)

score1 = cross_val_score(bag_model, x, y, cv = 5)
score1.mean()

0.76570749511926

1.Load heart disease dataset in pandas dataframe

2.Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3

3.Convert text columns to numbers using label encoding and one hot encoding

4.Apply scaling

5.Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy

6.Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. Keep in mind that many times doing PCA reduces the accuracy but computation is much lighter and that's the trade off you need to consider while building models in real life

In [23]:
import pandas as pd

In [24]:
hr = pd.read_csv('heart.csv')
hr.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [26]:
hr.shape

(918, 12)

In [27]:
hr.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [28]:
hr.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [32]:
hr[hr.Age > 77]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

# 3 std for RestingBP

In [35]:
u_r = hr['RestingBP'].mean() + 3 * hr['RestingBP'].std()
l_r = hr['RestingBP'].mean() - 3 * hr['RestingBP'].std()

In [36]:
hr[(hr['RestingBP'] > u_r) | (hr['RestingBP'] < l_r)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
449,55,M,NAP,0,0,0,Normal,155,N,1.5,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [37]:
hr1 = hr[(hr['RestingBP'] < u_r) & (hr['RestingBP'] > l_r)]
hr1.shape

(910, 12)

In [38]:
hr.shape[0] - hr1.shape[0]

8

# 3 std for Cholesterol

In [42]:
u_c = hr1.Cholesterol.mean() + 3 * hr1.Cholesterol.std()
l_c = hr1.Cholesterol.mean() - 3 * hr1.Cholesterol.std()

hr1[(hr1.Cholesterol > u_c) | (hr1.Cholesterol < l_c)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [43]:
hr2 = hr1[(hr1.Cholesterol < u_c) & (hr1.Cholesterol > l_c)]
hr2.shape

(907, 12)

# 3 std for FastingBS

In [44]:
u_f = hr2.FastingBS.mean() + 3 * hr2.FastingBS.std()
l_f = hr2.FastingBS.mean() - 3 * hr2.FastingBS.std()

hr2[(hr2.FastingBS > u_f) | (hr2.FastingBS < l_f)]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

# 3 std for MaxHR

In [45]:
u_m = hr2.MaxHR.mean() + 3 * hr2.MaxHR.std()
l_m = hr2.MaxHR.mean() - 3 * hr2.MaxHR.std()

hr2[(hr2.MaxHR > u_m) | (hr2.MaxHR < l_m)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
390,51,M,ASY,140,0,0,Normal,60,N,0.0,Flat,1

In [46]:
hr3 = hr2[(hr2.MaxHR < u_m) & (hr2.MaxHR > l_m)]
hr3.shape

(906, 12)

# 3 std for Oldpeak

In [47]:
u_o = hr3.Oldpeak.mean() + 3 * hr3.Oldpeak.std()
l_o = hr3.Oldpeak.mean() - 3 * hr3.Oldpeak.std()

hr3[(hr3.Oldpeak > u_o) | (hr3.Oldpeak < l_o)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
324,46,M,ASY,100,0,1,ST,133,N,-2.6,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [48]:
hr4 = hr3[(hr3.Oldpeak < u_o) & (hr3.Oldpeak > l_o)]
hr4.shape

(899, 12)

In [49]:
hr4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [50]:
hr5 = pd.get_dummies(hr4, drop_first = True)
hr5.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

In [51]:
hr5.shape

(899, 16)

In [53]:
x = hr5.drop('HeartDisease', axis = 'columns')
x.shape

(899, 15)

In [54]:
y = hr5.HeartDisease

In [52]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [55]:
x_scale = ss.fit_transform(x)
x_scale[:3]

array([[-1.42815446,  0.46590022,  0.84963584, -0.5503622 ,  1.38431998,
        -0.85546862,  0.515943  ,  2.06332497, -0.5349047 , -0.22955001,
         0.80970176, -0.48989795, -0.8229452 , -0.99888827,  1.13469459],
       [-0.47585532,  1.63471366, -0.16812204, -0.5503622 ,  0.7529728 ,
         0.13751561, -1.93819859, -0.48465463,  1.86949191, -0.22955001,
         0.80970176, -0.48989795, -0.8229452 ,  1.00111297, -0.88129441],
       [-1.7455875 , -0.1185065 ,  0.79361247, -0.5503622 , -1.53566071,
        -0.85546862,  0.515943  ,  2.06332497, -0.5349047 , -0.22955001,
        -1.23502263,  2.04124145, -0.8229452 , -0.99888827,  1.13469459]])

In [56]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

clf = cross_val_score(SVC(), x, y, cv = 5)
clf.mean()

0.6895779019242706

In [59]:
from sklearn.ensemble import BaggingClassifier
bag = BaggingClassifier(
    estimator = SVC(),
    n_estimators = 100,
    max_samples = 0.8,
    bootstrap=True,
    oob_score = True,
    random_state = 3
)

clf1 = cross_val_score(bag, x, y, cv = 5)
clf1.mean()

0.6873556797020484

In [61]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
bag1 = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    bootstrap=True,
    oob_score = True,
    random_state = 3
)

clf2 = cross_val_score(bag1, x, y, cv = 5)
clf2.mean()

0.8018994413407821